
@{
    ViewBag.Title = "ShowAceptedRequest";
}

<h2>Acepted Request</h2>
@if (TempData["Msg"] != null)
{
    <p class="alert alert-danger text-center">
        @TempData["Msg"];
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>CollectRequestId</th>
        <th>Food</th>
        <th>RequestDate</th>
        <td>ExpirationDate</td>
        <td>RestaurantId</td>
        <td>EmployeeId</td>
        <td>Status</td>
    </tr>


    @foreach (var od in Model)
    {

        <tr>
            <td>@od.CollectRequestId</td>
            <td>@od.FoodItem</td>
            <td>@od.RequestDate</td>
            <td>@od.ExpirationDate</td>
            <td>@od.RestaurantId</td>
            <td>@od.EmployeeId</td>
            <td>@od.Status</td>
            <td>
                @Html.ActionLink("Assign", "Assign", "Restaurant", new { CollectRequestId = od.CollectRequestId }, new { @class = "btn btn-success" })
            </td>
        </tr>


    }

</table>



